@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #747474;

  /* Brand Colors */
  --primary-color: #0f2c61;
  --secondary-color: #f3f7fa;
  --accent-color: #e62e65;
  --background-color: #fafdff;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4.5rem;

  --header-height: 5rem;

  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /*[가로위치] [세로위치] [흐림정도] [확산범위] [색상]*/
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  margin-top: var(--header-height);
  background-color: var(--background-color);
}

section {
  min-height: 100vh;
  padding-top: var(--header-height);
}

/* Header */
.header {
  background-color: var(--white-color);
  position: fixed;
  z-index: 1000; /* 가장 앞으로 나오게끔 */
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);
}

.nav__img {
  width: 150px;
  height: 80px;
}

.nav__list {
  gap: var(--spacing-5);
  display: flex;
  margin: auto 0;
}

.nav__item {
  margin: auto 0;
}

.nav__link {
  position: relative;
  color: var(--grey-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-5);
  justify-content: end;
}

.nav__link:hover {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5);
}
