@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #616161;
  --yellow-color: #f2c037;
  --red-color: #b71c1c;

  /* Brand Colors */
  --primary-color: var(--black-color);
  --secondary-color: #ffa600;
  --accent-color: #9c27b0;
  --negative-color: var(--red-color);
  --info-color: #0f2c61;
  --dark-color: #1d1d1d;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;

  --header-height: 4.5rem;

  --box-shadow-1: rgb(255, 226, 173) 0px 1px 4px;
  --box-shadow-2: rgb(255, 226, 173) 0px 5px 15px;

  --border-color: #fff2c7;
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  font-size: var(--font-size-5);
  height: 100vh; /* 스크롤바가 생기는 대상이 body이므로 높이 지정 */
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-black {
  font-weight: var(--font-weight-black);
}

/* Layout */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

/* Header */
.header {
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 제일 앞으로 나오게끔 */
  box-shadow: inset 0 -5px 5px -5px #f1e25c;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.nav__list {
  width: 1280px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin: auto 0;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
  color: var(--grey-color);
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__img {
  height: 42px;
}

.nav__link:hover {
  color: var(--yellow-color);
  font-weight: var(--font-weight-bold);
}

/* Home */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-5) 0;
  scroll-snap-align: start; /*스크롤이 멈출 지점을 섹션의 시작점으로 설정 */
  scroll-snap-stop: always; /*한 번의 휠 동작에 한 섹션씩만 넘어가도록 설정 */
}

.home__title {
  animation: fadeIn 1.2s ease-in forwards;
  opacity: 0;
  font-size: var(--font-size-2);
  line-height: calc(var(--font-size-2) * 1.4); /*반응형을 위해 이렇게 설정*/
  font-weight: var(--font-weight-black);
  margin-bottom: var(--spacing-3);
  color: var(--grey-color);
}

.home__title-color {
  color: var(--primary-color);
}

.home__scroll {
  position: absolute; /*부모 요소를 기준으로 원하는 곳에 배치*/
  bottom: 10%; /*부모 기준에서 아래에서 10%*/
  color: var(--yellow-color);
  font-size: 20px;
  animation: arrowMove 2s infinite; /*2초 동안 반복*/
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
    opacity: 0.5; /*처음에 보일 때는 반투명하게*/
  }
  50% {
    opacity: 0.8; /*중간에는 0.8만큼 보이게*/
  }
  100% {
    transform: translateY(5px);
    opacity: 0; /*끝날때 안보이게*/
  }
}

html {
  scroll-behavior: smooth; /* 부드러운 이동 */
  scroll-snap-type: y mandatory; /* 수직 방향 스냅 강제 적용 */
}

/* Section */
.section {
  padding: calc(var(--header-height) + 1rem) 0;
  height: 100vh;
  scroll-snap-align: start; /*스크롤이 멈출 지점을 섹션의 시작점으로 설정 */
  scroll-snap-stop: always; /*한 번의 휠 동작에 한 섹션씩만 넘어가도록 설정 */
}

.section__title {
  font-size: var(--font-size-2);
  color: var(--secondary-color);
  text-align: left;
  font-weight: var(--font-weight-bold);
  margin: var(--spacing-2);
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

/* About */
.about__container {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.about__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  margin: var(--spacing-2) 0;
}

.about__text {
  line-height: 1.4rem;
}

.about__img {
  max-width: 280px;
  border-radius: 0.5rem;
}

/* Skills */
.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.skills__box {
  box-shadow: var(--box-shadow-1);
  height: 110%;
}

.skills__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-medium);
  color: var(--grey-color);
  margin: var(--spacing-2);
  overflow: hidden;
  cursor: default;
}

.skills__data {
  margin: var(--spacing-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 1rem;
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  cursor: default;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__progress {
  position: absolute;
  left: var(--spacing-1);
  bottom: 0;
  appearance: none;
  height: 6px;
  width: 92%;
}

.skills__icon,
.skills__icon__img {
  width: 1rem;
  margin-right: 0.4rem;
}

.skills__progress::-webkit-progress-bar {
  background: #e7e7e7;
  width: 100%;
  overflow: hidden;
}

.skills__progress::-webkit-progress-value {
  background: var(--yellow-color);
  width: 48px;
}

/* Contact */
.contact__container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact__data {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact__box {
  width: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #fff2c7;
  box-shadow: var(--box-shadow-1);
}

.contact__box:hover {
  transform: translateY(-4px);
}

.contact__subtitle {
  margin: 0.75rem;
  font-weight: var(--font-weight-bold);
}

.contact__img {
  width: 80px;
  height: 80px;
  margin: 0.75rem;
}

.contact__text {
  margin: 0.75rem;
  font-size: var(--font-size-5);
  color: #bebebe;
}

.contact__text__click {
  margin: 0.75rem;
  font-size: var(--font-size-5);
  color: var(--secondary-color);
}

/* Certifications */

.certifications__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
}

.certifications__box {
  margin: 3%;
  padding: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #fff2c7;
  box-shadow: var(--box-shadow-1);
}

.certifications__subtitle {
  margin-bottom: 1rem;
  color: var(--black-color);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  cursor: default;
}

.certifications__date {
  margin-bottom: 1rem;
  color: var(--grey-color);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  cursor: default;
}

.certifications__text {
  color: var(--grey-color);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-light);
  overflow: hidden;
  cursor: default;
}
