@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #747474;

  /* Brand Colors */
  --primary-color: #0f2c61;
  --secondary-color: #5087b1;
  --accent-color: #e62e65;
  --background-color: #e9e9e9;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.2rem;
  --font-size-6: 1rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4.5rem;

  --header-height: 5rem;

  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /*[가로위치] [세로위치] [흐림정도] [확산범위] [색상]*/
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  margin-top: var(--header-height);
  background-color: var(--white-color);
}

section {
  min-height: 100vh;
  scroll-margin-top: 6.5rem; /*메뉴를 눌렀을 때 헤더 높이를 제외하고 상단에 맞춰 이동*/
}

.section__title {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
  text-align: center;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-4);
}

/* Header */
.header {
  background-color: var(--white-color);
  position: fixed;
  z-index: 1000; /* 가장 앞으로 나오게끔 */
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.nav__list {
  gap: 10rem;
  display: flex;
  margin: auto 0;
}

.nav__item {
  margin: auto 0;
}

.nav__link {
  position: relative;
  color: var(--grey-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-6);
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  min-height: 100vh;
}

.home__data {
  flex: 1; /* 남은 공간을 차지하게 함*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__logo__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 40%;
  margin-bottom: var(--spacing-3);
}

.home__search__bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: 50px;
  padding: 0 20px;
  background: #ffffff;
  border: 1px solid #cac7c7;
  border-radius: 24px; /* 둥근 테두리 */
}

.home__search__bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-icon {
  color: #9aa0a6;
  margin-right: 15px;
}

.home__input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  color: var(--black-color);
}

.search-tools {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #9aa0a6;
  font-size: 1.1rem;
}

@keyframes click {
  0% {
    border-color: red;
    opacity: 0.5;
  }
  15% {
    border-color: orange;
    opacity: 0.5;
  }
  30% {
    border-color: yellow;
    opacity: 0.5;
  }
  45% {
    border-color: green;
    opacity: 0.5;
  }
  60% {
    border-color: blue;
    opacity: 0.5;
  }
  75% {
    border-color: navy;
    opacity: 0.5;
  }
  100% {
    border-color: purple;
    opacity: 0.5;
  }
}

.home__click {
  background-color: var(--background-color);
  border-radius: 20px;
  width: 100%;
  padding: 3px 10px;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  animation: click 2s infinite ease-in-out;
}

@keyframes scroll-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}

.home__scroll {
  width: auto;
  color: var(--accent-color);
  margin-top: auto;
  margin-bottom: 10%;
  animation: scroll-bounce 2s infinite ease-in-out;
}

/* Certifications */
