@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #616161;
  --blue-color: #0336ff;
  --red-color: #b71c1c;

  /* Brand Colors */
  --primary-color: var(--black-color);
  --secondary-color: #26a69a;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--red-color);
  --info-color: #0f2c61;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;

  --header-height: 4rem;
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  font-size: var(--font-size-5);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-black {
  font-weight: var(--font-weight-black);
}

/* Layout */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

/* Header */
.header {
  background-color: var(--info-color);
  color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  height: var(--header-height);
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}

.nav__link {
  position: relative;
}

.nav__link:hover::after {
  background-color: var(--white-color);
  height: 0.15rem;
  content: '';
  width: 100%;
  left: 0;
  top: 1.6rem;
  position: absolute;
}

/* Home */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-5) 0;
}

.home__title {
  animation: fadeIn 1.2s ease-in forwards;
  opacity: 0;
  font-size: var(--font-size-2);
  line-height: calc(var(--font-size-2) * 1.4); /*반응형을 위해 이렇게 설정*/
  font-weight: var(--font-weight-black);
  margin-bottom: var(--spacing-3);
  color: var(--grey-color);
}

.home__title-color {
  color: var(--primary-color);
}

.home__scroll {
  position: absolute; /*부모 요소를 기준으로 원하는 곳에 배치*/
  bottom: 10%; /*부모 기준에서 아래에서 10%*/
  color: #7c9ed1;
  animation: arrowMove 1.2s infinite; /*1.2초 동안 반복*/
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
    opacity: 0.5; /*처음에 보일 때는 반투명하게*/
  }
  50% {
    opacity: 0.8; /*중간에는 0.8만큼 보이게*/
  }
  100% {
    transform: translateY(7px);
    opacity: 0; /*끝날때 안보이게*/
  }
}
