@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #747474;

  /* Brand Colors */
  --primary-color: #0f2c61;
  --accent-color: #e62e65;
  --background-color: #e9e9e9;
  --border-color: #cac7c7;
  --icon--color: #9aa0a6;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.2rem;
  --font-size-6: 1rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4.5rem;

  --header-height: 5rem;

  /* Box Shadow */
  --box-shadow-1: 0 2px 8px rgba(32, 33, 36, 0.28); /*[가로위치] [세로위치] [색상] [크기] [색상]*/
  --box-shadow-2: 0 2px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  margin-top: var(--header-height);
  background-color: var(--white-color);
}

/* Section */
section {
  min-height: 100vh;
  scroll-margin-top: 6.5rem; /*메뉴를 눌렀을 때 헤더 높이를 제외하고 상단에 맞춰 이동*/
}

.section__top {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-1);
}

.section__img {
  width: 10rem;
  height: 6rem;
}

.section__search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  box-shadow: var(--box-shadow-2);
  width: 90%;
  height: 50px;
  margin: 0 50px;
}

.section__title {
  flex: 1;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  color: var(--black-color);
  text-align: left;
  border: none;
  outline: none;
  margin-left: var(--spacing-3);
}

.section__search__tools {
  margin: 0 var(--spacing-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__search__xmark {
  color: var(--icon--color);
  width: 20px;
  height: 17px;
}

.section__search__icons {
  display: flex;
  align-items: center;
}

.section__search__icons::before {
  content: '';
  border: 1px solid #e4e3e3;
  margin: 0 var(--spacing-1);
  height: 25px;
}

.section__search-icon {
  margin-right: var(--spacing-1);
  color: var(--icon--color);
  width: 20px;
  height: 17px;
}

.line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--border-color);
}

/* Header */
.header {
  background-color: var(--white-color);
  position: fixed;
  z-index: 1000; /* 가장 앞으로 나오게끔 */
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: var(--box-shadow-1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.nav__list {
  gap: 10rem;
  display: flex;
  margin: auto 0;
}

.nav__item {
  margin: auto 0;
}

.nav__link {
  position: relative;
  color: var(--grey-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-6);
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  color: var(--grey-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
}

.nav__link.active {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  min-height: 100vh;
}

.home__data {
  flex: 1; /* 남은 공간을 차지하게 함*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__logo__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 40%;
  margin-bottom: var(--spacing-3);
}

/* Home Search Bar */
.home__search__bar {
  display: flex;
  align-items: center; /* 평소에는 중앙 정렬*/
  flex-wrap: wrap;

  width: 100%;
  max-width: 700px;
  height: 50px;
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 24px; /* 둥근 테두리 */
}

.home__input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  color: var(--black-color);
}

.search-icon {
  color: var(--icon--color);
  margin-right: 15px;
}

.search-tools {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--icon--color);
  font-size: 1.1rem;
}

.home__search__bar:hover {
  box-shadow: var(--box-shadow-2);
  border-color: rgba(223, 225, 229, 0);
}

.home__search__bar.expand {
  align-content: flex-start; /* 확장시 위에서부터 정렬*/
  height: 150px;
  box-shadow: var(--box-shadow-2);
}

/* Home Click */
.home__click {
  background-color: var(--background-color);
  border-radius: 20px;
  width: 100%;
  padding: 3px 10px;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  animation: click 1.5s infinite ease-in-out;
  cursor: pointer;
}

.home__click__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  opacity: 0; /* 안보이게 설정*/
  overflow: hidden; /* 내용이 넘치면 자름(안보임)*/
}

.home__click__content.active {
  opacity: 1; /* 눌렀을 때는 보이게 설정*/
}

.content__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

@keyframes click {
  0% {
    border-color: red;
    opacity: 0.5;
  }
  20% {
    border-color: orange;
    opacity: 0.5;
  }
  40% {
    border-color: yellow;
    opacity: 0.5;
  }
  60% {
    border-color: green;
    opacity: 0.5;
  }
  80% {
    border-color: blue;
    opacity: 0.5;
  }
  100% {
    border-color: purple;
    opacity: 0.5;
  }
}

/* Home Scroll */
@keyframes scroll-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}

.home__scroll {
  width: auto;
  color: var(--accent-color);
  margin: auto 0;
  animation: scroll-bounce 2s infinite ease-in-out;
}
